<div style="padding: 40px 0 10px 270px;">
    <h3 style="display: inline;padding-right: 10px;">Projets en cours</h3>

    <a id="addBtn" href="creerProjet" onclick="creerProjet()" style="vertical-align:sub;"><i class="small material-icons">add_circle</i></a>
</div>

<carousel [height]="300" [width]="1500" [cellsToShow]="3" style="margin: 0 auto;">
    <ng-container *ngFor="let projet of projetList">
        <ng-container *ngIf="projet.status == false">

            <div class="carousel-cell">
                <span id="hoverProjet"><img style="height: 70%;" [src]="projet.picture">
                    <span id="hoverBtn">
                        <a id="removeBtn" (click)="SupprimerProjet(projet)"><i class="small material-icons">remove_circle</i></a>
                        <a id="editBtn" (click)="editerProjet(projet)"><i class="small material-icons">mode_edit</i></a>
                        <a id="buildBtn" (click)="modifierProjet(projet)" ><i class="small material-icons">build</i></a>
                    </span>
                </span>
                <h4 style="text-align: center;">{{ projet.name }}</h4>
            </div>
        </ng-container>
    </ng-container>
</carousel>

<div style="padding: 40px 0 10px 270px;">
    <h3 style="display: inline;padding-right: 10px;">Projets terminés</h3>
</div>

<carousel [height]="300" [width]="1500" [cellsToShow]="3" style="margin: 0 auto;">
    <ng-container *ngFor="let projet of projetList">
        <ng-container *ngIf="projet.status == true">

            <div class="carousel-cell">
                <span id="hoverProjet"><img style="height: 70%;" [src]="projet.picture">
                    <span id="hoverBtn">
                        <a id="removeBtn" href="" ><i class="small material-icons">remove_circle</i></a>
                        <a id="buildBtn" href="" ><i class="small material-icons">build</i></a>
                    </span>
                </span>
                <h4 style="text-align: center;">{{ projet.name }}</h4>
            </div>
        </ng-container>
    </ng-container>
</carousel>
