<form *ngIf=projet (ngSubmit)="onSubmit()" #projetForm="ngForm">
    <h3 text-align="center">Formulaire</h3>
    <div class="row">
        <div class="card-panel">

      <!-- film name -->
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name"
               required
               pattern="^[a-zA-Z0-9àéèç]{1,25}$"
               [(ngModel)]="projet.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="card-panel red accent-1">
          Le nom du film est requis (1-25).
        </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description"
                           required pattern="^[a-zA-Z0-9àéèç]{0,80}$"
                           [(ngModel)]="projet.description" name="description" #description="ngModel">

                    <div [hidden]="description.valid || description.pristine" class="card-panel red accent-1">
                        max de caractere 80 (1-80).
                    </div>

                </div>
                <div class="divider"></div>
                <div class="section center">
                    <button type="submit" class="waves-effect waves-light btn" [disabled]="!projetForm.form.valid">
            Valider</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--<h3 *ngIf="!film" class="center">Aucun film à éditer...</h3>-->
