<div>
    <h1>Modification de {{projet?.name}}</h1>
    <div id="waveform">

    </div>

    <div class="time">
        <div>Total time: <span id="time-total">0.00</span> seconds</div>
        <div>Current time: <span id="time-current">0.00</span> seconds</div>
        <div>Remaining time: <span id="time-remaining">0.00</span> seconds</div>

    </div>
    <div class="sousTitre" *ngIf="sousTitreList">

        <div *ngFor="let sousTitre of sousTitreList">
            <div *ngIf="sousTitre">

                <li>{{sousTitre.body}}</li>
                <li>{{sousTitre.id}}</li>
                <li>{{sousTitre.idProject}}</li>
                <li>{{sousTitre.timeCodeBegin}}</li>
                <li>{{sousTitre.timeCodeEnd}}</li>
                <li>test</li>
            </div>
        </div>

    </div>

    <div *ngIf="video" class="controls">
        <button (click)="onStopPressed()">Stop</button>
    </div>

    <button (click)="onPreviewPressed()">Click me</button>