<div>
    <h1>Modification de {{projet?.name}}</h1>
    <div id="waveform">

    </div>

    <div class="time">
        <div>Total time: <span id="time-total">0.00</span> seconds</div>
        <div>Current time: <span id="time-current">0.00</span> seconds</div>
        <div>Remaining time: <span id="time-remaining">0.00</span> seconds</div>

    </div>

    <div class="sousTitre">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, labore velit nemo excepturi commodi unde ut soluta aliquam fugit itaque illo reprehenderit tenetur voluptate modi doloremque incidunt voluptatibus earum vero?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, labore velit nemo excepturi commodi unde ut soluta aliquam fugit itaque illo reprehenderit tenetur voluptate modi doloremque incidunt voluptatibus earum vero?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, labore velit nemo excepturi commodi unde ut soluta aliquam fugit itaque illo reprehenderit tenetur voluptate modi doloremque incidunt voluptatibus earum vero?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, labore velit nemo excepturi commodi unde ut soluta aliquam fugit itaque illo reprehenderit tenetur voluptate modi doloremque incidunt voluptatibus earum vero?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, labore velit nemo excepturi commodi unde ut soluta aliquam fugit itaque illo reprehenderit tenetur voluptate modi doloremque incidunt voluptatibus earum vero?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, labore velit nemo excepturi commodi unde ut soluta aliquam fugit itaque illo reprehenderit tenetur voluptate modi doloremque incidunt voluptatibus earum vero?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, labore velit nemo excepturi commodi unde ut soluta aliquam fugit itaque illo reprehenderit tenetur voluptate modi doloremque incidunt voluptatibus earum vero?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, labore velit nemo excepturi commodi unde ut soluta aliquam fugit itaque illo reprehenderit tenetur voluptate modi doloremque incidunt voluptatibus earum vero?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, labore velit nemo excepturi commodi unde ut soluta aliquam fugit itaque illo reprehenderit tenetur voluptate modi doloremque incidunt voluptatibus earum vero?</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, labore velit nemo excepturi commodi unde ut soluta aliquam fugit itaque illo reprehenderit tenetur voluptate modi doloremque incidunt voluptatibus earum vero?</li>
    </div>

    <div *ngIf="video" class="controls">
        <button (click)="onStopPressed()">Stop</button>
    </div>

    <button (click)="onPreviewPressed()">Click me</button>