h1 {
    text-align: center;
}

.time {
    position: absolute;
    right: 0;
    top: 5%;
}

.sousTitre {
    position: absolute;
    right: 0;
    top: 14%;
    max-width: 40%;
    max-height: 55%;
    overflow: scroll;
}